
<div class="center hero-unit">
  
    <h1>Recent Activity</h1>

  <ul><% @combo_ordered.each do |recent_item| %>

  	
    <% if recent_item.class == Vote %>
       <li><% user = User.find(recent_item.user_id) %>
  	   <%= link_to "#{user.name} +1'd this item >>", user_path(user)  %>
  	   <% item = Item.find(recent_item.item_id) %>
  	   <%= link_to "#{item.content}", item_path(item) %></li>
       <li><%= "Updated #{time_ago_in_words(recent_item.updated_at)} ago" %></li><br>
    <% else %>
  	  <li><% user = User.find(recent_item.user_id) %>
  	  <% if recent_item.created_at == recent_item.updated_at %>
  	     <%= link_to "#{user.name} added to personal list >>", user_path(user)  %>
  	     <% item = Item.find(recent_item.item_id) %>
  	     <% want = user.wants.find_by_item_id(item) %>
  	     <%= link_to "#{item.content}", item_path(item) %></li>
         <li><%= "Updated #{time_ago_in_words(recent_item.updated_at)} ago" %></li><br>
      <% else %>
  	    <%= link_to "#{user.name} updated >> ", user_path(user)  %>
  	    <% item = Item.find(recent_item.item_id) %>
  	     <% want = user.wants.find_by_item_id(item) %>
  	     <%= link_to "#{item.content}", personal_item_user_path(user, want) %></li>
         <li><%= "Updated #{time_ago_in_words(recent_item.updated_at)} ago" %></li><br>
  	  <% end %>
     
  <% end %>
  <% end %>
 </ul>

</div>