
<div class="center hero-unit">
  <h1><%=@school.name%></h1>
    
</div>

<%= form_tag school_users_path(@school), method: :get do %>

<p>
	<%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
 </p>
 <% end %>


<div class="center hero-unit">
<% @users.each do |user| %>

<h1><%= link_to user.name, user_path(user) %></h1>

<% end %>
</div>