<% provide(:title, 'Sign up') %>

<div class="center hero-unit">
    <h1>Step 2.</h1>
  <h1>Give us just enough info to log you in.  No more, we promise.</h1>
    
</div>

<%= render 'shared/flashes' %>

<div class="row">
	<div class="span6 offset6">
		<%= form_for [:school, @user] do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

		  <%= f.label :name %>
		  <%= f.text_field :name %>

		  <%= f.label :email %>
		  <%= f.text_field :email %>

		  <%= f.label :password %>
		  <%= f.text_field :password %>

		  <%= f.label :password_confirmation, "Confirmation" %>
		  <%= f.text_field :password_confirmation %></br>

		  <%= f.file_field :picture %>

		  <div class="container"></br>

		 <%= f.submit "Create my account!",  class: "btn btn-large btn-primary" %>
		  </div>
		 <% end %>
	</div>
</div>



