<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span4">
  	<%= render 'shared/flashes' %>
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= render 'follow_form' %>
      </h1>
    </section>
    <section>
    	<%= render 'shared/stats' %>
    </section>
  </aside>
</div>


  <div class="center hero-unit">
  <% @wants.each do |item| %>
    <p><% my_wants = Item.find(item.item_id) %><p>
     <p><%= link_to "#{my_wants.content}", personal_item_school_user_path(@school, @user, item) %><p>

     <% if item.status == 0 %>
        <%= form_for(item) do |f| %>

        <%= f.hidden_field :status %>
        <%= f.submit "I did it", class: "btn btn-large btn-primary" %>
        <% end %>
        <p><%= "Not done" %> </p>
       <% else %>
       <p><%= "Done!" %> </p>
       <% end %>

  <% end %>
</div>

<p>Find me in app/views/users/show.html.erb</p>

