
<div class="center hero-unit">
  <h1><%=@school.name%></h1>
    
</div>

<%= render 'shared/flashes' %>

<div class='row'>
      	<div class='span4 offset8'>
          <%= link_to "Add to list!", new_item_path, class: "btn btn-large btn-primary" %>
        </div>
 </div>

<div class="center hero-unit">
  <% @items.desc.each do |item| %>
  <% @user = User.find(item.user_id) %>
     <p>Posted By: <%= @user.email %> <%= pluralize(item.counter, "vote") %></p>
    <h1><%= link_to item.content, item_path(item) %></h1>
  <% end %>
</div>