
<div class="center hero-unit">
  <h1><%=@school.name%></h1>
    
</div>

<div class="row">
	<div class="span8 offset4">
		<%= form_for @items, url: { action: :create } do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :content %>
		<%= f.text_field :content %>

		<%= f.submit "Add to the list", class: 'btn btn-large btn-primary' %>
		<% end %>
	</div>
</div>

<div class="center hero-unit">
<% @items.each do |item| %>

<h1><%= link_to item.content, school_item_path(@school, item) %></h1>

<% end %>
</div>