<% provide(:title, "New Item") %>

<div class='center hero-unit'>
  <h1>Add your two cents to the list</h1>
</div>

<%= render 'shared/flashes' %>

<div class="span8 offset4">
		<%= form_for current_user.items.build(school_id: @school.id) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :content %>
		<%= f.text_field :content %>

		<%= f.hidden_field :school_id %>

		<%= f.submit "Add to the list", class: 'btn btn-large btn-primary' %>
		<% end %>
	</div>
</div>
