<% provide(:title, "content") %>

<div class="center hero-unit">
  <%= render 'add_form' unless current_user.wants.include?(@item) %>
  <%= render 'plus_form' unless current_user.votes.include?(@item) %>
  <h1><%=@item.content%></h1>
    
</div>

<%= render 'shared/flashes' %>

<div class="center hero-unit">
  <% @item.reactions.each do |c| %>
  <p><% me = User.find(c.user_id) %></p>
  <p><%= me.email %></p>
  <h1><%= c.comment %></h1>
  	<% end %>
    
</div>
<div class="span8 offset4">
		<%= form_for [@item, @reaction] do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :comment %>
		<%= f.text_field :comment %>

		<%= f.submit "Add your comment!", class: 'btn btn-large btn-primary' %>
		<% end %>
	</div>
</div>