<% provide(:title, 'Choose a school') %>

<div class="center hero-unit">
  <h1>Step one.</h1>
  <h1>Choose your school.</h1>
 </div>

 

<div class="row">
	<div class="span6 offset6">
		<%= form_for @school do |f| %>

            <%= render 'shared/error_messages', object: f.object %>
            
          	<%= f.label :name, "School" %>
		    <%= f.text_field :name, data: {autocomplete_source: schools_path} %>
          
		<div class='container'></br>

		 <%= f.submit "Select My School!",  class: "btn btn-large btn-primary" %>
		</div>
		 <% end %>
	</div>
</div>

